body {
    background-color: #b0bc8b;
}
  
.heading {
    text-align: center;
    animation-name: fadeInUp;
    animation-duration: 1s;
  }
  
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
  
@media only screen and (max-width: 600px) {
    .main_heading {
      text-align: center;
    }
      .main_heading {
      font-size: 32px;
    }
  }
  